.board {
  position: relative;
  margin: 2rem auto;
  border: 2px solid #000;
}

.snake {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #000;
  margin: 1px;
  z-index: 2;
}

.snake-container {
  margin: 1px;
}

.food {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: purple;
  margin: 1px;
  z-index: 1;
}

.select-difficulty-form {
  display: flex;
  flex-direction: column;
}

.game-stats-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  margin-top: 2rem;
}
