.board {
  position: relative;
  margin: 50px auto;
  border: 2px solid #000;
}

.snake {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #000;
  margin: 1px;
  z-index: 2;
}

.snake-container {
  margin: 1px;
}

.food {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: purple;
  margin: 1px;
  z-index: 1;
}

.select-difficulty-form {
  display: flex;
  flex-direction: column;
}
